<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>互动交流MVC版管理系统</title>
    <link href="@Url.Content("~/Content/Manager.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--位置及导航-->
    <div id="NavBox">
        <div class="location">
            当前位置：互动交流MVC版管理系统 >>> 首页</div>
    </div>
    <div id="Clear_Fixed">
    </div>
    <!--/位置及导航-->
    <div style="width: 560px; margin: 30px auto;">
       欢迎访问
    </div>
</body>
</html>
