@using ChinaHCM.QA.Site.Web.Models
@model TopBannerModel

<div class="SearchBlock row">
    <div class="col-xs-12 col-md-11">
        @{Html.RenderPartial("ParitialSearch", new BasicSearchModel() { BoardId = @Model.BoardId });}
    </div>
    @if (@Model.BoardId > 0 && Request.IsAuthenticated)
{
    <div class="col-xs-2 col-md-1">
        @Html.ActionLink("发帖", "NewTopic", "Topic", new { BoardId = @Model.BoardId }, new { @class = "btn btn-info" })
    </div>
}
</div>
